<div class="content-main">
  <form [formGroup]="actividadForm">

    <mat-card>
      <mat-card-title>Actualizar Actividad</mat-card-title>

      <mat-card-content>

        <br>
        <mat-form-field appearance="fill">
          <mat-label>Id</mat-label>
          <input matInput placeholder="Id" formControlName="id">
        </mat-form-field>

        <br>
        <mat-form-field appearance="fill">
          <mat-label>Actividad</mat-label>
          <input matInput placeholder="Titulo actididad" formControlName="nombre">
        </mat-form-field>

        <br>
        <mat-form-field appearance="fill">
          <mat-label>Fecha Planeada</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaPlaneada">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!--         <br><br>
        <mat-form-field appearance="fill">
          <mat-label>Fecha Ejecución</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaEjecucion">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->

        <br><br>
        <mat-form-field appearance="fill">
          <mat-label>Estatus</mat-label>
          <select matNativeControl required formControlName="estatus">
            <option value="PENDIENTE">PENDIENTE</option>
            <option value="ACTIVO">ACTIVO</option>
            <option value="EJECUCION">EJECUCION</option>
            <option value="TERMINADO">TERMINADO</option>
            <option value="ELIMINADO">ELIMINADO</option>
          </select>
        </mat-form-field>

        <br>
        <mat-form-field appearance="fill">
          <mat-label>Empleado</mat-label>
          <mat-select formControlName="empleadoId">
            <mat-option *ngFor="let empleado of empleados" [value]="empleado.id">
              {{empleado.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onUpdate()">Actualizar</button>
      </mat-card-actions>

    </mat-card>

  </form>
</div>
